
body{
    font-family: 'Ubuntu', sans-serif;
}
section{
    
    background-color: white;
    border: solid black 1px;
    width: auto;
    
}
.hero{
    background-color: #1c1d1c;
    height: 100vh;
    color: white;
    font-size: 75px;
    margin-bottom: 15px;
}

footer{
    height: 550px;
    background-color:rgb(91, 201, 245);
    color: black;
    text-align: center;
    padding: 80px;
}
#middleicon{
    margin-left:100px;
}

nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}
li{
  /* width: 200px; */
  text-decoration: none;
}
h1{
    font-size: 35px;
    margin: 0;
}
h2{
    font-size: 40px;
  }
p{
    margin: 0;
    font-size: 35px;
    font-weight: 300;
    border-top: 25px;
    padding: 5px;
}
.name-text{
    margin-left: 80px;
    margin-bottom: 200px;
}
.name-area{
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.button{
    width: 115px;
    height: 15px;
    background-color: rgb(0, 238, 255);
    color: rgb(0, 0, 0);
    border-radius: 70px;
    text-align: center;
    text-align: bottom;
    font-size: 20px;
    border-bottom: 15px;
    padding-top: 5px;
    margin-bottom: 1px;
    
}
.button:hover{
    background-color: #0b010e;
    color: antiquewhite;
}
.button:active{
    background-color: #fffffb;
    color: #002488;
}

.socials{
   
   margin-bottom: 300px;
   
   font-size: medium;
   size: 500px;
   justify-content: space-between;
   height: 45px;
   width: 45px;
}
.socials{
    position: fixed;
    right:0;
    width: 75px;
    
}

.logo{
   height: 150px; 
   border-radius: 100px;
   right: 15px;
   background-color: #1c1d1c;
}
.logo:hover{
    background-color: #0b010e;
    color: antiquewhite;
}

.abt-section{
    display: flex;
    justify-content: center;
    padding: 300px;
    font-size: 50px;
    background-color: rgb(255, 205, 139);
    background-image: url(bkimg.jpeg);
    color: #fffffb;
}
.standard-containerr{
   
}
#imgp{
    margin-bottom: 700px;
    border-radius: 200px;
    width: 150px;
    size: 1px;

    
    
}

.standard-container{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: white ;
}
#p1{
    
}
#imgsz{
    width: 90px;
    height: 90px;
    padding: 10x;
    align-items: baseline;
}
.info{
    
    margin-bottom: 75%;
    
}

@media only screen and (max-width:100px){
     
}

.love {
    display: inline-block;
    position: relative;
    top: .2em;
    font-size: 1.4em;
    color: #e74c3c;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
  }
  @-webkit-keyframes love {
    to {-webkit-transform: scale(1.2);}
  }
  @-moz-keyframes love {
    to {-moz-transform: scale(1.2);}
  }
  @keyframes love {
    to {transform: scale(1.2);}
  }

#gmail{
    border-radius: 100px;
    background-color: #0b010e;
}
  